include ../mixins/alert.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="shortcut icon" type="image/jpg" href="https://png.pngtree.com/element_pic/00/16/09/2057e0eecf792fb.jpg")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css')
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/checkout.css")
  body 
    +alert-success(2000)
    include ../partial/header.pug

    .bodyy      
      .wrapper-flex-gap-15  
        .sidebar-user.wrapper-flex-column-gap-15
          .avatar-wrap.wrapper-flex-column-gap-15
            .avatar
              img(src=infoUser.thumbnail.replace('upload/', 'upload/c_limit,w_190/f_auto/'), alt="avatar")
            .name.pb-3 #{infoUser.fullName}
          ul.menu
            li
              a.active(href="info")
                i.fi.fi-rr-circle-user
                span User
            li
              a.align-items-stretch(href="/discount/coupon")
                i.fi.fi-rr-gift-card
                span Promo code
            li
              a(href="/history")
                i.fi.fi-rr-time-past
                span Purchase history
        .main-user-info.wrapper-flex-column-gap-15
          block main

    include ../partial/footer.pug

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    script(src="/js/script.js")