extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main

  .container.checkout
    .row
      //- .col-12.d-block.d-lg-none.bg-primary àld
      form.col-xl-6.col-lg-7.col-md-12(
        action="/checkout/order"
        method = "POST"
      )
        h3 Thông tin liên hệ
        .info
          input.d-none(name="orderProducts" value=orderProducts)
          label.custom-field
            input(type='text' name="fullName" placeholder=" " required)
            span.placeholder Họ và tên
            <span class="border"></span>
          label.custom-field
            input(type='tel' name='phone' placeholder=' ' pattern="[0-9]{10,11}" required)
            span.placeholder Số điện thoại
            <span class="border"></span>
          h5 Địa chỉ
          .wrapper-flex-column-gap-15
            select.province.form-address(required name="province")
              option          
            select.district.form-address(required name="district")
              option          
            select.ward.form-address(name="commune")
              option
          label.custom-field
            input(type="text" name="detail" placeholder=" " autocomplete="off" required)
            span.placeholder Địa chỉ chi tiết
            <span class="border"></span> 
          p.address-info
            span.display-address
            span.display-ward
            span.display-district
            span.display-province
        h3 Phương thức thanh toán
        .payment-method
          <div class="form-check selected" onclick="check('cash')">  
            img(src="https://res.cloudinary.com/dndo7fe82/image/upload/c_limit,w_80/f_auto/v1742731186/logo/ugedjq1b6ausv0nco5kf.png" alt="COD")        
            <label class="form-check-label w-100" for="cash" onclick="event.stopPropagation();">
                | Thanh toán khi nhận hàng
            </label>
            <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="cash" checked>
          </div>
          <div class="form-check" onclick="check('zalopay')">
            img(src="https://res.cloudinary.com/dndo7fe82/image/upload/c_limit,w_80/f_auto/v1742730960/logo/zivcjlqj9bmt3ofvorfa.png" alt="Zalopay")          
            <label class="form-check-label w-100" for="zalopay" onclick="event.stopPropagation();">
                | ZaloPay
            </label>
            <input class="form-check-input" type="radio" name="paymentMethod" id="zalopay" value="zalopay">
          </div>
          <div class="form-check" onclick="check('momo')">
            img(src="https://res.cloudinary.com/dndo7fe82/image/upload/c_limit,w_80/f_auto/v1742730419/logo/Momo.png" alt="MoMo")     
            <label class="form-check-label w-100" for="momo" onclick="event.stopPropagation();">
                | Ví điện tử MoMo
            </label>
            <input class="form-check-input" type="radio" name="paymentMethod" id="momo" value="momo">

          </div>
          <div class="form-check" onclick="check('vnpay')">
            img(src="https://res.cloudinary.com/dndo7fe82/image/upload/c_limit,w_80/f_auto/v1742730262/logo/Vn%20Pay%20logo.webp" alt="VNPAY")
            <label class="form-check-label w-100" for="vnpay" onclick="event.stopPropagation();">
                | Ví VNPAY              
            </label>
            <input class="form-check-input" type="radio" name="paymentMethod" id="vnpay" value="vnpay">
          </div>
        button.thanhToan(type="sumbmit") Đặt hàng
      .col-xl-6.col-lg-5.d-none.d-lg-block 
  script(src="/js/format.js") 