@theme{
  --color-black-blur: #0c1117;
  --color-black-1: rgb(6, 7, 11);
  --color-dark-table-header: #374151;
  --color-dark-table-row: #1F2937;
  --color-dark-navy: #141A21;
  --color-dark-navy-2: #1C252E;
  --color-dark-navy-3: #28323D;
}