include ../mixins/alert.pug
//- https://preview.themeforest.net/item/oxfin-bootstrap-dark-admin-dashboard/full_screen_preview/47471477?_ga=2.15792630.1797902332.1739331848-665700975.1712938209
doctype html
html
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title #{pageTitle}
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet", href="/tailwind/output.css")
  body
    +alert-success(2000)
    +alert-error(2000)
    include ../partials/header.pug
    include ../partials/sider.pug
    .main(class="p-4 mt-16 sm:ml-64")
      block main

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    script(src="/admin/js/format.js") 
    script(src="/admin/js/script.js") 
    //- tinymce 
    script(src="/tinymce/tinymce.min.js") 
    script(src="/admin/js/tinymce-config.js") 


