<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" rel="stylesheet">
</head>

<body>
  <a href="mailto:anviet0901@gmail.com">mail</a>
  <div id="aplayer"></div>
  <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
  <script>
    const ap = new APlayer({
      container: document.getElementById('aplayer'),
      lrcType: 3,
      audio: [{
        name: 'name',
        artist: 'artist',
        url: './Sự nghiệp chướng.mp3',
        cover: 'cover.jpg',
        lrc: "./Sự nghiệp chướng.lrc"
      }]
    });
  </script>
</body>

</html>