.checkout {
  margin-top: 50px;
}

.checkout h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.checkout h5 {
  margin: 13px 0;
  font-size: 1.7  rem
}

.checkout form {
  padding: 30px 30px 30px 15px;
}

.checkout .col-xl-6.col-lg-5.d-none.d-lg-block {
  padding-left: 0;
}

.custom-field {
  position: relative;
  font-size: 1.5rem;
  border-top: 15px solid transparent;
  display: block;
}

.custom-field input,
.custom-field select {
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 10px 12px;
  width: 100%;
  border-radius: 3px;
  font-size: 1.6rem;
}
.custom-field .placeholder {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 0 5px;
  color: var(--secondary-color-text);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 100%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder,
.custom-field .dirty + .placeholder {
  top: 0;
  font-size: 1.3rem;
  color: #222;
  background-color: white;
  z-index: 1000;
}

.custom-field .border {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: none;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 3px;
  pointer-events: none;
}

.custom-field .border::after, 
.custom-field .border::before,
.select2-container--default .select2-selection--single::after,
.select2-container--default .select2-selection--single::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  border-radius: 3px;
}

.custom-field .border::before,
.select2-container--default .select2-selection--single::before {
  left: 0;
  bottom: 0;
  border-right: 0px solid var(--color-text);
  border-bottom: 0px solid var(--color-text);
  transition: 
    border 0s linear calc(0.12s * 4),
    height 0.12s ease-in calc(0.12s * 2),
    width 0.12s ease-in calc(0.12s * 3);
}

.custom-field .border::after,
.select2-container--default .select2-selection--single::after {
  right: 0;
  top: 0;
  border-left: 0px solid var(--color-text);
  border-top: 0px solid var(--color-text);
  transition: 
    border 0s linear calc(0.12s * 2),
    height 0.12s ease-in,
    width 0.12s ease-in 0.12s;
}

.custom-field input:focus ~ .border::before,
.custom-field input:not(:placeholder-shown) ~ .border::before,
.custom-field .dirty ~ .border::before,
.custom-field input:focus ~ .border::after,
.custom-field input:not(:placeholder-shown) ~ .border::after,
.custom-field .dirty ~ .border::after,
.select2-container--default .select2-selection--single[aria-expanded="true"]::before,
.select2-container--default .select2-selection--single[aria-expanded="true"]::after,
.select2-container--default .select2-selection--single.dirty::before,
.select2-container--default .select2-selection--single.dirty::after {
  width: 100%;
  height: 100%;
  border-width: 1.5px;
}

.custom-field input:not(:placeholder-shown) ~ .border::before,
.custom-field input.dirty ~ .border::before,
.custom-field input:focus ~ .border::before,
.select2-container--default .select2-selection--single[aria-expanded="true"]::before {
  transition-delay: 0s, 0.12s, 0s;
}

.custom-field input:not(:placeholder-shown) ~ .border::after,
.custom-field input.dirty ~ .border::after,
.custom-field input:focus ~ .border::after,
.select2-container--default .select2-selection--single[aria-expanded="true"]::after {
  transition-delay: 
    calc(0.12s * 2), 
    calc(0.12s * 3), 
    calc(0.12s * 2);
}

select {
  width: 100%;
}

.selet2-container {
  width: 100% !important;
}

.selet2-container .select2-selection__placeholder {
  color: var(--secondary-color-text);
}

.select2-container--default .select2-selection--single {
  height: fit-content;
  padding: 8px 3px;
  border-color: var(--border-color);
}

.select2-container--open .select2-dropdown--below {
  border: 1px solid var(--color-gray);
  border-radius: 5px
}

.select2-search--dropdown {
  padding: 0;
  margin: 4px;
  border: 1px solid #aaa;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 5px 4px 5px 0;
  border: none;
}

.select2-search--dropdown::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
  padding: 0 10px;
}

div.address-info {
  transition: all 0.3s ease;
  margin: 15px 0;
  color: var(--secondary-color-text);
  font-style: italic;
}


/* payment-method */

.form-check-input {
  width: 20px;
  height: 20px;
  position: unset;
  
}

.checkout .payment-method .form-check {
  padding: 0
}

.checkout .payment-method .form-check img {
  width: 50px;
  height: auto;
}

.checkout .payment-method {
  padding-right: 15px;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.checkout .payment-method .form-check {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--secondary-color-text);
  transition: all 0.3s ease;
}

.checkout .payment-method .form-check label {
  cursor: pointer;
}

.checkout .payment-method .form-check:hover {
  color: var(--color-text);
  font-weight: 500;
}

.checkout .payment-method .form-check.selected {
  color: var(--color-text);
  font-weight: 500;
}

.checkout button.thanhToan {
  display: block;
  width: 100%;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, black, #4c4c4c, black);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, black, #4c4c4c, black);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 5px;
  margin: 15px 0 0 auto;
  transition: all 0.1s ease;
}

.checkout button.thanhToan:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}

.checkout h3.order-products-title {
  color: var(--secondary-color-text);
  padding: 15px 15px 15px 30px;
  border: 2px solid var(--main-bg-color);
  margin: 15px 0 0 0;
}

.checkout .order-products {
  background-color: var(--color-one);
  padding: 15px 30px 30px 30px;
}

.inner-orderProducts {
  max-height: 50vh;
  padding: 11px 0;
  overflow-y: auto;
}

.inner-orderProducts .product-wrapper .product-price {
  margin-left: auto;
  margin-right: 15px;
}

.inner-orderProducts .product-wrapper .product-image {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.inner-orderProducts .product-wrapper .product-image .quantity {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 56%);
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.inner-orderProducts .product-wrapper .product-image .image {
  overflow: hidden;
  border-radius: 8px;
}

.inner-orderProducts .product-wrapper .product-image .image img {
  width: 100%;
  aspect-ratio: 6/7;
  object-fit: cover;
}

.inner-orderProducts .product-wrapper .product-info {
  margin-left: 15px;
  flex-grow: 1;
  width: 58%;
}

.inner-orderProducts .product-wrapper .product-info .title {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-orderProducts .product-wrapper .product-info .size {
  color: var(--secondary-color-text);
  text-transform: capitalize;
  font-size: 1.3rem;
}

.inner-orderProducts .product-wrapper .product-price {
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--color-text);
}

.checkout .order-products .shipping {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 15px;
}

.checkout .order-products .shipping .value {
  color: var(--secondary-color-text)
}

.checkout .order-products .total {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.checkout .order-products .total .title {
  font-size: 2.2rem;
  font-weight: 600;
}

.checkout .order-products .total .value {
  font-size: 1.9rem;
  font-weight: 600;
}

.checkout .order-products .input-note .note-title {
  color: var(--color-text);
  font-weight: 500;
  font-size: 1em;
  margin: 15px 0 7px 0;
}

.checkout .order-products .input-note textarea {
  width: 100%;
  padding: 15px;
}

.d-block.d-lg-none.checkout {
  background-color: var(--color-one);
  margin: 0;
}

.checkout a[data-toggle="collapse"] {
  display: block;
  padding: 17px 0;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}

.checkout a[data-toggle="collapse"] .total-price {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--color-blue);
  font-size: 18px;
  font-weight: 500
}

.checkout a[data-toggle="collapse"] .wrapper {
  color: var(--color-blue);
  display: flex;
  gap: 15px;
  align-items: center;
}

.d-block.d-lg-none.checkout .order-products {
  padding: 15px;
}


/* responsive */

@media (max-width: 991px) {
  .checkout {
    margin-top: 0;
  }

  .checkout form {
    padding: 30px 15px 30px 15px;
  }

  .checkout .order-products .inner-orderProducts {
    max-height: 100vh;
  }
}

/* success */

.success .notification .fi-rr-pending {
  background-color: var(--color-blue);
  color: white;
  padding: 18px;
  font-size: 3rem;
  border-radius: 50%;
}

.success .notification .fi-rr-check {
  background-color: var(--color-green);
  color: white;
  padding: 18px;
  font-size: 3rem;
  border-radius: 50%;
}

.success .notification span {
  font-size: 2.5rem;
  font-weight: 500;
}

.success .notification p {
  color: var(--secondary-color-text);
  font-style: italic;
}

.success .inner-content .order-info {
  background-color: var(--color-one);
  border-radius: 5px;
  padding: 25px clamp(20px, calc(3% + 10px), 40px);
  flex-grow: 1;
  max-width: 70%;
  margin: 0 auto;
  gap: 10px;
}

.success .inner-content .order-info .info{ 
  display: block;
  font-size: 1.6rem;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  letter-spacing: 0.4px;
  font-weight: 350;
}


.success .inner-content .order-info .order-products {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.success .inner-content .order-info .order-products span.title {
  font-size: 1.8rem;
  font-weight: 500;
}

.success .inner-content .order-info .order-products .totalPrice .name{
  font-size: 2rem;
  font-weight: 500;
  flex-grow: 1;
  padding-left: calc(50% + 7.5px);
}

.success .inner-content .order-info .order-products .totalPrice .value {
  font-size: 2rem;
  font-weight: 500;
  padding-right: 30px;
}

.success .inner-content .order-info .order-products .shipping {
  color: var(--secondary-color-text);
}

.success .inner-content .order-info .order-products .shipping .name {
  flex-grow: 1;
  padding-left: calc(50% + 7.5px);
}

.success .inner-content .order-info .order-products .shipping .value {
  padding-right: 30px;
}

.success .inner-content .order-info .inner-button {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.success .inner-content .order-info .inner-button a {
  flex-grow: 1;
  text-align: center;
}

.success .inner-content .order-info .inner-button .continue-shopping {
  background-color: transparent;
  border: 1px solid var(--color-text);
  padding: max(0.8vw, 6px) max(1.3vw, 10px);
  border-radius: 5px;
  color: var(--color-text);
  font-weight: 500;
  transition: all 0.3s ease;
}

.success .inner-content .order-info .inner-button .continue-shopping:hover {
  background-color: var(--color-text);
  color: var(--color-one);
}

.success .inner-content .order-info .inner-button .history {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  padding: max(0.8vw, 6px) max(1.3vw, 10px);
  border-radius: 5px;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
}

.success .inner-content .order-info .inner-button .history:hover {
  background-color: var(--color-one);
  color: var(--color-text);
}

.section-qr {
  display: block;
  margin-left: auto;
  padding: 20px clamp(20px, calc(3% + 10px), 40px);
  padding-right: 0;
  width: 30%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.section-qr img{
  width: 100%; height: auto;
}

.section-qr .des {
  text-align: center;
  color: var(--secondary-color-text);
  font-style: italic;
  margin-bottom: 15px;
  white-space: nowrap;
}

.section-qr .info-bank-account {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.section-qr .info-bank-account > * {
  white-space: nowrap;
}

.success-box {
  background-color: #ffffff;
  border-radius: 16px;
  text-align: center;
  max-width: 400px;
  animation: fadeIn 0.6s ease;
  margin: 0 auto;
}

.success-box .icon {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.success-box h2 {
  margin: 0;
  color: #2d4739;
  font-size: 24px;
}

.success-box p {
  margin-top: 10px;
  color: #555;
  font-size: 16px;
}
.success-box a{
  display: inline-block;
  margin-top: 10px;
}

.success-box .home-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.success-box .home-link:hover {
  background-color: #218838;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}



#map{
  position: relative;
}

#map .input-location{
  position: absolute;
  background-color: white;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 14px;
  top: 10px;
  display: inline-block;
  width: fit-content;
}
#map .input-location input{
  text-align: center;
  color: rgba(128, 128, 128, 0.738)
}