.product-detail {
  margin-top: clamp(40px, calc(4.5vw + 20px), 80px);
}

.product-detail .product-images {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.product-detail .product-images .image-detail {
  width: 85%;
}

.product-detail .product-images .image-detail .swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.product-detail .product-images .image-detail .swiper-button-next, .swiper-button-prev {
  background-color: var(--color-text);
  color: var(--color-one);
  padding: 5%;
  border: 2px solid var(--color-text);
  font-size: 1.8em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
}

.product-detail .product-images .image-detail .swiper-button-next {
  transform: translateX(20px);
}

.product-detail .product-images .image-detail .swiper-button-prev {
  transform: translateX(-20px);
}

.product-detail .product-images .image-detail:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.product-detail .product-images .image-detail:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.product-detail .product-images .image-detail:hover .swiper-button-disabled {
  opacity: 0.35;
}

.product-detail .product-images .image-detail .swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: var(--color-one);
  color: var(--color-text);
}

.product-detail .product-images .image-detail img {
  aspect-ratio: 6/7;
  width: 100%;
}

.product-detail .product-images .thumbnail-detail {
  width: 85%;
}

.product-detail .product-images .thumbnail-detail .swiper-wrapper .swiper-slide {
  height: fit-content;
  width: 90%;
  overflow: hidden;
}

.product-detail .thumbnail-detail .swiper-wrapper img {
  aspect-ratio: 6/7;
  width: 100%;
  max-height: 120px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 5px;
}

.product-detail .thumbnail-detail .swiper-wrapper img:hover {
  transform: scale(1.1);
}

.product-detail .thumbnail-detail .swiper-slide {
  padding-bottom: 5px;
  width: calc(540px/4 - 45px);
}

.product-detail .thumbnail-detail .swiper-slide::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 4%;
  background-color: var(--color-text);
  transition: width 0.2s linear;
}

.product-detail .thumbnail-detail .swiper-slide.swiper-slide-thumb-active::after {
  width: 100%;
}

.product-detail .thumbnail-detail .swiper-slide {
  opacity: 0.6;
}

.product-detail .thumbnail-detail .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.product-detail .product-info {
  width: max-content;
}

.product-detail .product-info .inner-title {
  font-size: clamp(20px, calc(2vw + 10px), 30px);
  margin-bottom: 20px;
}

.product-detail .product-info .inner-price {
  display: flex;
  gap: 23px;
  align-items: center;
}

.product-detail .product-info .inner-price .inner-percent {
  display: flex;
  background-color: var(--color-orange);
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.product-detail .product-info .inner-price {
  margin: 20px 0;
}

.product-detail .product-info .inner-price .inner-price-old {
  font-size: 23px;
  font-weight: 600;
  color: var(--color-gray);
}

.product-detail .product-info .inner-price .inner-price-new {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-text);
}

.product-detail .product-info table td {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 480px) {
  .product-detail .product-info table td {
    display: table-cell !important;
    width: auto !important;
  }
}

.product-detail .product-info table .name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.product-detail .product-info table .value {
  color: var(--secondary-color-text);
  text-transform: capitalize;
  font-size: 14px;
}

.product-detail .product-info .btn-size {
  display: flex;
  gap: 20px;
}

.product-detail .product-info .btn-size button {
  background-color: transparent;
  padding: 13px 0;
  border: 2px solid var(--color-gray);
  width: 90px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.product-detail .product-info .btn-size .button-size-active {
  background-color: var(--color-text) !important;
  color: white !important;
  border: none !important;
}

.product-detail .product-info .btn-size button:hover {
  border-color: var(--color-text);
}

.product-detail .formCart {
  display: flex;
  gap: 20px;
  align-items: stretch;
  margin-top: 30px;
}

.product-detail .formCart .input-qty {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-gray);
  border-radius: 3px;
}

.product-detail .formCart .input-qty input {
  width: 55px;
  padding: 23px 0;
  outline: none;
  border: none;
  background-color: transparent !important;
  color: var(--color-text) !important;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0 !important;
}

.product-detail .formCart .input-qty i {
  padding: 7px;
  cursor: pointer;
  color: var(--color-gray);
  transition: color 0.3s ease;
}

.product-detail .formCart .input-qty i:hover {
  color: var(--color-text);
}

.product-detail .formCart button {
  background-color: var(--color-green);
  color: white;
  padding: 0 25px;
  border: 2px solid var(--color-green);
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 1.5rem;
}

.product-detail .formCart button:hover {
  background-color: transparent;
  color: var(--color-green);
}

.product-detail .box-description {
  padding: 70px 0;
  border-bottom: 1px solid var(--color-gray);
}

.product-detail .box-description .container > :first-child {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 50px;
}

.product-detail .box-description .tab-content {
  text-align: justify;
}

.product-detail .box-description .nav {
  gap: 40px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-bottom: 1.5px;
}

.product-detail .box-description .nav-tabs .nav-link {
  border: none;
  margin-bottom: -2px;
  color: var(--color-gray);
  white-space: nowrap;
  padding-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s linear;
}

.product-detail .box-description .nav-tabs .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;  
  z-index: 1000;
  width: 0;
  height: 3px;
  background-color: var(--color-text);
  transition: all 0.3s linear;
}

.product-detail .box-description .nav-tabs .nav-link.active, .product-detail .box-description .nav-tabs .nav-link:hover {
  color: var(--color-text);
}

.product-detail .box-description .nav-tabs .nav-link.active::after, .product-detail .box-description .nav-tabs .nav-link:hover:after {
  width: 100%;
  left: 0;
  right: inherit;
}

.product-detail .box-description .nav-tabs {  
  border: none;
}

.nav-link {
  padding: 0;
}

#nav-description img {
  max-width: 100%;
  object-fit: contain;
  margin: 15px 0;
}

#nav-description ul {
  list-style-type: disc;
}

.product-detail .box-description .tab-content {
  color: var(--secondary-color-text);
}

/* feedback  */
.box-feedback {
  background-color: var(--color-one);
  padding: 60px 0;
}

.box-feedback h4.title {
  font-size: clamp(22px, calc(2vw + 10px), 30px);
  font-weight: 600;
}

.box-feedback span, .box-feedback p {
  color: var(--secondary-color-text);
}

.box-feedback .averageRating {
  display: flex;
  align-items: center;
  gap: 15px;
}

.box-feedback .averageRating i {
  align-self: self-start;
}

.box-feedback .averageRating form.rating > label::before {
  font-size: 20px;
}

.box-feedback .total-review {
  font-weight: 500;
  margin-bottom: 15px;
}

.box-feedback .box-progression {
  display: flex;
  align-items: center;
  gap: 15px;
}

.box-feedback .box-progression .progress-bar {
  flex-grow: 1;
}

.box-feedback .create-feedback {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: 2px solid var(--color-text);
  text-align: center;
  background-color: var(--color-text);
  color: white;
  font-weight: 500;
  margin: 15px 0;
  transition: all 0.3s ease;
}

.box-feedback .create-feedback:hover {
  background-color: transparent;
  color: var(--color-text);
}

.box-feedback .main-content > * {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  align-items: flex-start;
}

.box-feedback .main-content :last-child {
  padding-bottom: 0;
  border: none;
}

.box-feedback .main-content .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 8px;
}

.box-feedback .main-content .user-info .inner-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-feedback .main-content .user-info .inner-image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.box-feedback .main-content .user-info p {
  line-height: 1;
  font-size: 1.35rem;
}

.box-feedback .main-content .user-info .name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  text-align: center;
  color: var(--color-text);
  line-height: 1;
}

.box-feedback .main-content .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px
}

.box-feedback .main-content .content .comment {
  word-break: break-word;
}

.star-rating {
  direction: rtl;
  display: block;
  text-align: center;
}

.star-rating input {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.star-rating label {
  color: #ddd;
  cursor: pointer;
}

.star-rating label::before {
  margin: 0px 3px;
  font-size: 1.7rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.star-rating>input:checked~label,
.star-rating:not(:checked)>label:hover,
.star-rating:not(:checked)>label:hover~label {
  color: #FFD700;
}

.star-rating>input:checked+label:hover,
.star-rating>input:checked~label:hover,
.star-rating>label:hover~input:checked~label,
.star-rating>input:checked~label:hover~label {
  color: #FFED85;
}

.box-feedback form.add-feedback button {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  color: var(--color-text);
  background-color: transparent;
  padding: 10px 0;
  border: 2px solid var(--color-text);
  border-radius: 5px;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.box-feedback form.add-feedback button:hover {
  color: white;
  background-color: var(--color-text);
}

.box-feedback form.add-feedback textarea {
  width: 100%;
  padding: 15px;
  margin-top: 15px
}


/* progress bar */
.progress-bar {
  width: fit-content;
  height: 8px;
  position: relative;
  border-radius: 999px;
  background-color: #ddd;
}

.progress-bar .progress {
  background-color: #FFD700;
  border-radius: 999px;
  position: absolute;
  left: 0;
  height: 100%;
}

.progress-bar ~ span.quantity {
  width: 36.8px;
  font-size: 1.3rem;
  text-align: right;
}
/* end progress bar */

/* end feedback  */
