/* auth  */
.auth-page{
  margin-top: 100px;
  color: var(--secondary-color-text)
}
.auth-page label{
  font-weight: 500;
}
.auth-page input{
  padding: 25px 40px;
  font-size: 1.6rem;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.106);
}
.auth-page input:focus{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.106);
}

.auth-page .input{
  position: relative;
}
.auth-page .input i{
  position: absolute;
  top: 18px;
  left: 12px;
  font-size: 1.8rem;
}
.auth-page input[type="checkbox"]{
  background-color: black;
}
.auth-page .remember-forgot-box{
  display: flex;
  justify-content: space-between;
}
.auth-page .remember-box{
  display: flex;
  align-items: center;
}
.auth-page .register-box{
  text-align: center;
}

.auth-page .wrap-login-social{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.auth-page .wrap-login-social form:nth-child(2){
  margin: 0 10px;
}
.auth-page .wrap-login-social button{
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.698);
  position: relative;
}
.auth-page .wrap-login-social button::before{
  content:"";
  position: absolute;
  top: 0; left: 100%; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.327);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s linear;
}
.auth-page .wrap-login-social button:hover::before{
  top: 0; left: 0; right: 0; bottom: 0;
  opacity: 1;
}

/* end-auth */




/* Header */

/* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
  position: relative;
}
.header-search__input input{
  margin: 15px 0;
  animation: headerSearchInputMove 0.5s linear;
  border: none;
  outline: none;
}
@keyframes headerSearchInputMove {
  from{
    width: 0;
    margin: 0;
  }to{
    width: 100%;
    margin: 15px 0;
  }
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}
.wave-group .input{
  color: gray;
}
.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.779);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  /* background: #5264AE; */
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}


.header .header-1 {
  background-color: var(--main-bg-color);
}


.header .header-1 .logo {
  display: flex;
  justify-content: center;
}

.header .header-1 img {
  height: 50px;
  width: auto;
}

.header .header-1 .inner-nav {
  display: flex;
  align-items: center;
}

.header .header-1 .inner-nav ul:not(.sub-menu__content) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 30px;
}

.header .header-1 .inner-nav ul:not(.sub-menu__content) > li {
  padding: 30px 20px;
}

.header .header-1 .inner-nav ul:not(.sub-menu__content) > li i {
  color: var(--secondary-color-text);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 999;
}

.header .header-1 .inner-nav ul:not(.sub-menu__content) > li i::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transform: scale(1);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 998;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .header-1 .inner-nav ul li i:hover::after {
  opacity: 0.5;
  transform: scale(2.5);
}

.header .header-1 .inner-nav ul.sub-menu__content li i:hover::after {
  opacity: 0;
  transform: none;
}

.header .header-1 li:has(>a.userInfo){
  position: relative;
}
 
.header .header-1 .afterauth{
  position: absolute;
  top: 28px;
  left: 15px;
  right:0;
  z-index: 1000;
  background-color: white;
}

.header .header-1 .afterauth{
  color: var(--secondary-color-text)
}

.header .header-2 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.header .header-2 ul.inner-menu {
  display: flex;
  justify-content: center;
}

.header .header-2 ul.inner-menu>li {
  padding: 15px 30px;
}

.header .header-2 ul.inner-menu li {
  position: relative;
}

.header .header-2 ul.inner-menu li::before, ul.sub-menu__content li::before {
  content: "";
  display: inline-block;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  width: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: all 0.3s linear;
}

.header .header-2 ul.inner-menu li:hover::before, ul.sub-menu__content li:hover::before {
  width: 70%;
}

.header .header-2 ul.inner-menu a {
  color: var(--secondary-color-text);
  font-weight: 400;
  line-height: 100%;
}
.header a[href="/cart"]{
  position: relative;
}

.header a[href="/cart"] span{
  top:-5px;
  right: -10px;
  font-size: 12px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
  color: white;
}

.sub-menu__content{
  left: -40% !important;
  padding-top: 10px !important;
  text-wrap: wrap !important;
  text-align: center;
}
.sub-menu__content li{
  padding: 15px 20px !important;
  display: inline-flex !important;
}

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* min-width: 150px; */
  text-wrap: nowrap;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s linear;
}

.sub-menu ul li {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.146);
}

.sub-menu:hover>ul {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  left: 100%;
  top: 0;
  visibility: hidden;
  transform: translateX(15px);
  opacity: 0;
  transition: all 0.3s linear;
}

.sub-menu ul li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* End sub-menu */

/* slide */
swiper-container {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide .inner-content {
  padding: 100px 0;
}

swiper-slide .inner-content .inner-box-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
}

swiper-slide .inner-content .inner-sub-title {
  color: var(--secondary-color-text);
  margin-bottom: 15px;
  animation: sub-title-move 1s ease-in-out;
}

@keyframes sub-title-move {
  from {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0);
  }
}

swiper-slide .inner-content .inner-title {
  font-size: 60px;
  margin-bottom: 20px;
  animation: title-move 1s ease-in-out;
}

@keyframes title-move {
  from {
    transform: translateX(-40px);
  }

  to {
    transform: translate(0);
  }
}

swiper-slide .inner-content .button-slide {
  border: 3px solid black;
  color: white;
  background-color: black;
  padding: 15px 55px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s linear;
  animation: button-slide-move 1s ease-in-out;
}

@keyframes button-slide-move {
  from {
    transform: translateX(40px);
  }

  to {
    transform: translate(0);
  }
}

swiper-slide .inner-content .button-slide:hover {
  background-color: transparent;
  color: black;
}

swiper-slide .inner-content .inner-box-2 img {
  width: 70%;
  height: auto;
  object-fit: cover;
  animation: imgScale 1s ease-in-out;
}

@keyframes imgScale {
  from {
    transform: scale(1.6) translate(50px, 50px);
  }

  to {
    transform: scale(1) translate(0);
  }
}

/* end slide */

/* section-policy */
.section-policy {
  margin: 150px 0;
}

.section-policy .inner-title {
  display: flex;
  margin-bottom: 20px;
}

.section-policy .inner-title .icon {
  margin-right: 15px;
}

.section-policy .inner-title .title {
  font-size: 20px;
}

.section-policy .inner-content {
  color: var(--secondary-color-text)
}

/* end-section-policy */

/* featuredCategory-section */
.featuredCategory-section {
  margin-bottom: 150px;
}

.featuredCategory-section .inner-title {
  font-size: 40px;
  text-align: center;
}

.featuredCategory-section .inner-subtitle {
  color: var(--secondary-color-text);
  text-align: center;
}

.featuredCategory-section .inner-content {
  margin-top: 15px;
}

.featuredCategory-section .inner-box {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  position: relative;
}

.featuredCategory-section .inner-box .inner-image {
  text-align: center;
}

.featuredCategory-section .inner-box img {
  width: 100%;
  height: auto;
}

.featuredCategory-section .inner-box .inner-button {
  display: inline-block;
  color: black;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: #ffffff6a;
  width: 100%;
  margin-top: 30px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}




/* end-featuredCategory-section */


/* box-head */
.box-head {
  margin-bottom: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.709);
  letter-spacing: 3px;
}

/* End box-head */

/* product-item */
.product-item {
  border: 1px solid #dddddd29;
  box-shadow: 0 4px 4px 0 rgba(255, 254, 254, 0.2), 0 8px 20px 0 rgba(250, 249, 249, 0.19);
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  position: relative
}

.product-item:hover .img-product-1 {
  display: none;
}

.product-item .inner-image {
  aspect-ratio: 4/5;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
  animation: img-scale 0.3s linear 1;
}

.product-item:hover img {
  transform: scale(1.2);
  animation: img-scale 0.3s linear 1;
}

.product-item .inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes img-scale {
  from {
    transform: scale(1.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.product-item .inner-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fe4848;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
}

.product-item .inner-title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.product-item .inner-title a {
  font-size: 1.6rem;
  color: black;
}

.product-item .inner-price {
  display: flex;
  font-size: 1.4rem;
}

.product-item .inner-price .inner-price-new {
  margin-right: 15px;
}

.product-item .inner-price .inner-price-old {
  color: #d5d5d5;
  position: relative;
}

.product-item .inner-price .inner-price-old::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: red;
  top: 50%;
}

/* rating */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5rem;
  margin: 10px;
}

.rating {
  border: none;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label:before {
  margin: 5px 1px;
  font-size: 1.4rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: #ddd;
  float: right;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: #FFD700;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
  color: #FFED85;
}

/* end-rating */




/* End product-item */

/* box-trending */
.box-trending {
  height: 670px;
  overflow-y: scroll;
}

/* css scrollbar */
/* Đặt nền và kích thước chung cho scrollbar */
.box-trending::-webkit-scrollbar {
  width: 7px;
  /* Độ rộng của scrollbar */
  height: 12px;
  /* Độ cao của scrollbar ngang */
}

/* Tùy chỉnh phần nền của scrollbar */
.box-trending::-webkit-scrollbar-track {
  background: #d6dadb;
  /* Màu nền của track */
  border-radius: 10px;
  /* Bo tròn các góc */
}

/* Tùy chỉnh phần kéo (thumb) của scrollbar */
.box-trending::-webkit-scrollbar-thumb {
  background: #039b8469;
  /* Màu của thumb */
  border-radius: 10px;
  /* Bo tròn các góc */
}

/* Thay đổi màu thumb khi hover */
.box-trending::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Màu của thumb khi hover */
}


.wrap-trending {
  background-color: rgba(136, 131, 131, 0.165);
  padding: 50px 0;
  padding-top: 10px
}

/* end-box-trending */


/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

.alert.alert-success {
  background-color: #3a8788 !important;
  color: white;
  border-radius: 20px;
}

.alert.alert-danger {
  background-color: rgba(255, 0, 0, 0.358) !important;
  color: white;
  border-radius: 20px;
}

/* End Show Alert */


/* footer */
.footer {
  background-color: var(--main-bg-color);
  margin-top: 80px;
}

.footer .main-footer {
  padding: 50px;
  border-bottom: 1px solid var(--secondary-color-text);
}

.footer .main-footer .contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer .main-footer .contact .logo img {
  width: 70%;
  max-width: 180px;
  object-fit: contain;
  height: auto;
}

.footer .main-footer .contact div {
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--secondary-color-text);
}

.footer .main-footer div a {
  color: var(--secondary-color-text);
  transition: all 0.3s ease;
}

.footer .main-footer div a:hover {
  color: var(--color-hover);
}

.footer .main-footer .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer .main-footer .title {
  color: var(--color-text);
  font-size: 1.5em;
  font-weight: 500;
  padding: 20px 0;
}

.footer .main-footer form {
  padding: 15px 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.footer .main-footer form input {
  padding: 12px;
  border: 2px solid var(--color-text);
  border-radius: 5px 0 0 5px;
  flex-grow: 1;
}

.footer .main-footer form button {
  padding: 12px 18px;
  background-color: var(--color-text);
  color: var(--color-one);
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}

.footer .main-footer form button:hover {
  background-color: var(--color-hover);
}

.footer .main-footer .social {
  display: flex;
  gap: 15px;
}

.footer .main-footer .social a {
  font-size: 1.8em;
}

.footer .end-footer p {
  padding: 15px;
  color: var(--secondary-color-text);
  text-align: center;
}



/* end footer */



/* sort-form */

.sort-form {
  padding: clamp(0.8rem, calc(1vw + 0.2rem), 20px) 0;
}

.sort-form a {
  color: var(--color-text);
}

.sort-form a span {
  font-weight: 600;
}

.sort-form .dropdown-menu .form-check {
  padding: 0.6rem clamp(0.8rem, calc(2vw + 0.2rem), 30px);
}

.sort-form .dropdown-menu .form-check input {
  accent-color: var(--color-text);
  width: 1.5rem;
  height: 1.5rem;
}

.sort-form .dropdown-menu .form-check div {
  width: 15rem;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  transition: all 0.4s ease;
}

.sort-form .dropdown-menu .form-check div:hover {
  font-weight: 600;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #bab7b7;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 70%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, rgb(47, 43, 43) 0%, #7b7272 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #158b8d;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

/* end sort-form */

/* pagnaiton */
.pagination-nav {
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: #33333375;
  border: none;
  color: rgb(158, 137, 137)
}

.page-item.active .page-link {
  background-color: #158b8d;
  color: white
}

/* end-pagnaiton */


/* about */
.section-2 {
  padding: 96px 0;
  background-color: #333;
}

.section-2 .wrap-1 img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.section-2 .wrap-1 .title:first-child,
.section-2 .wrap-2 .title:first-child {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.645);
  font-weight: bold;
  margin: 20px 0;
}

.section-2 .wrap-1 .title:nth-child(2),
.section-2 .wrap-2 .title:nth-child(2) {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.645);
  font-weight: bold;
  opacity: 0.9;
  letter-spacing: 2px;
  margin: 10px 0;
  line-height: 1.1;
}

.section-2 .wrap-logo {
  display: flex;
  flex-wrap: wrap;
}

.section-2 .wrap-logo .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 150px;
  font-weight: bold;
  padding: 1.8rem 2.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #222;
  border-radius: 10px;
}

.section-2 .wrap-logo .logo:hover {
  background-color: orange;
  color: white
}

.section-2 .wrap-logo i {
  color: #158b8d;
  font-size: 40px;
  margin-bottom: 20px;
}

.section-2 .desc {
  color: rgba(255, 255, 255, 0.645);
}

.section-2 span {
  color: #158b8d
}

.section-2 iframe {
  width: 80%;
  border-radius: 10px;
}

.section-2 .wrap-2 {
  background-color: #222;
  margin-top: 112px;
  position: relative;
  border-radius: 10px;
}

.section-2 .wrap-title {
  padding: 48px;
  display: flex;
  flex-direction: column;

}

.section-2 .wrap-2 img {
  max-width: 80%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  right: 80px;
  border-radius: 10px;
  transform: scale(1.2);
  transform-origin: bottom;
}

@media(max-width: 991.98px) {
  .section-2 .wrap-title {
    text-align: center;
  }

  .section-2 .wrap-1 img {
    width: 100%;
  }

  .section-2 .wrap-2 img {
    position: static;
    height: 100%;
    transform: scale(1);
    width: 90%;
    object-fit: cover;
    margin: auto;
  }

  .section-2 .wrap-2 .wrap-img {
    text-align: center;
    padding: 0;
  }
}

@media(max-width: 767.98px) {
  .section-2 .wrap-1 .title {
    text-align: center;
  }

  .section-2 .wrap-logo .logo {
    margin: 1rem auto;
  }

  .section-2 .desc {
    text-align: center;
  }

  .section-2 .wrap-button-1 {
    text-align: center;
  }
}

/* end-about */

/* box-product *

/* end-box-product */


/* history-order */
.filter-status-search,
.card.mb-3.sort {
  background-color: rgba(255, 255, 255, 0.13)
}

.button-filter-status {
  border: 1px solid white;
  color: white
}

.button-filter-status:hover {
  border: none;
  background-color: rgba(210, 105, 30, 0.595);
  color: black
}

.button-filter-status.active {
  background-color: #3E6C6D !important;
  border: none
}

[sort-clear-order] {
  background-color: black;
  border: 1px solid white;
}

[sort-clear-order]:hover,
#form-search button:hover {
  background-color: rgba(210, 105, 30, 0.595);
  border: 1px solid rgba(210, 105, 30, 0.595)
}

#form-search button {
  background-color: black;
  border: 1px solid white;
}

.button-1 {
  background-color: rgba(0, 0, 0, 0.762);
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  border-color: transparent;
  transition: all 0.3s linear;
}

.button-1:hover {
  background-color: #fff;
  color: black;
  border-color: black;
}

.button-2 {
  background-color: rgba(255, 0, 0, 0.715);
  color: white;
  border-radius: 5px;
}

.button-2:hover {
  background-color: rgba(210, 105, 30, 0.595);
  color: black
}



/* end history-order */

/* show password */

.form-group-password {
  position: relative;
}

.form-group-password span {
  position: absolute;
  right: 15px;
  top: 75%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  display: none;
  color: black
}

.form-group-password input:valid~span {
  display: block;
}

.form-group-password span i.hide-btn::before {
  content: "\f070";
}

/* end show password  */


#rating {
  border: none;
  float: left;
}

#rating>input {
  display: none;
}

/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

/*1 ngôi sao*/
#rating>.half:before {
  content: "\f089";
  position: absolute;
}

/*0.5 ngôi sao*/
#rating>label {
  color: #ddd;
  float: right;
}

/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover,
#rating:not(:checked)>label:hover~label {
  color: #FFD700;
}

/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label {
  color: #FFED85;
}


/* comment-feedback */
.product-detail textarea {
  background-color: #222222ce;
  color: white;
  border: 1px solid #158b8d
}

.product-detail textarea:focus {
  background-color: #222222ce;
  color: white;
}

.wrap-feedback {
  color: white;
  background-color: #222222ce;
  padding: 15px 30px;
  border-left: 1px solid #158b8d
}

.wrap-feedback i {
  font-size: 30px;
}

.wrap-feedback .user {
  display: flex;
  align-items: center;
}



.wrap-feedback .user .time p {
  margin: 0;
}

.wrap-feedback .rating i {
  font-size: 16px
}

.wrap-feedback.mine {
  color: #158b8d;
  font-size: 20px
}

.wrap-feedback.mine .rating i {
  color: #158b8d;
  font-size: 20px
}

/* end-comment-feedback */

/* sider-user */
.sider-user {
  background-color: black;
  width: 100%;
  height: calc(100vh - 105px);
}

.sider-user .avatar-wrap {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d3238
}

.sider-user .avatar {
  width: 60%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.sider-user .avatar img {
  width: 100%;
}

.sider-user .avatar-wrap .name {
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.sider-user li {
  list-style: none;
  text-align: center;
  padding: 10px
}

.sider-user a {
  color: white
}

.sider-user li:hover {
  background-color: #158b8d;
  color: rgb(245, 161, 6)
}

.content-user {
  background-color: rgba(255, 255, 255, 0.136);
  width: 100%;
  height: calc(100vh - 105px);
  padding: 20px;
}

.box-user {
  border-radius: 5px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.612);
  width: 100%;
  height: 92%;
}

.header-user {
  background-color: rgba(255, 255, 255, 0.275);
  padding: 0 30px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-user-wrap {
  padding: 20px
}

.content-user img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.content-user label {
  color: white
}


/* end-sider-user */


/* image-preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid;
  padding: 15px;
  border-radius: 5px;
}

/* .image-preview[src=""]: dk khi src = "" */
.image-preview[src=""] {
  display: none;
}

/* end image-preview */



/* productSlide */

#demo {
  overflow: hidden;
  width: 960;
}

#demo img {
  border: 3px solid #F2F2F2;
}

#indemo {
  width: 3000%;
  float: left;
}

#demo1 {
  float: left;
}

#demo2 {
  float: left;
}

/*end productSlide */

.box-feedback {
  background-color: rgba(136, 131, 131, 0.165);
  padding: 40px 0;
}

.formCart .stockInput:focus {
  outline: 0;
  box-shadow: none;
}

input:focus {
  /* border-color: rgba(255, 166, 0, 0.847) !important; */
  outline: 0;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Filter start */
.inner-filter {
  padding-right: 1.5rem;
}

.inner-filter .filter-header {
  display: flex;
  flex-direction: column;
  padding-bottom: clamp(1.5rem, calc(1vw + 2rem), 40px);
  border-bottom: 1px solid #ddd;
}

.inner-filter .filter-header .title {
  padding: clamp(0.8rem, calc(1vw + 0.2rem), 20px) 0;
  gap: 15px;
}

.inner-filter .filter-header .title i {
  font-size: 1.3em;
  font-weight: 600;
}

.inner-filter .filter-header .title p {
  font-size: 1.4em;
  font-weight: 600;
}

.inner-filter .filter-header .filter-content > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color-text);
  transition: all 0.3s ease;
  cursor: pointer;
}

.inner-filter .filter-header .filter-content button {
  background-color: transparent;
  color: var(--secondary-color-text);
}

.inner-filter .filter-header .filter-content > *:hover {
  color: var(--color-text);
}


.inner-filter .clear-button {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.inner-filter .clear-button button {
  width: 100%;
  padding: 5% 0;
  border-radius: 5px;
  border: 2px solid black;
  gap: 10px;
  justify-content: center;
  background-color: var(--color-text);
  color: var(--color-one);
  transition: all 0.3s ease;
}

.inner-filter .clear-button button:hover {
  background-color: white;
  color: var(--color-text);
}

.inner-filter button i {
  font-size: 1em;
  font-weight: 600;
}

.inner-filter button span {
  font-size: 1.3em;
  font-weight: 500;
}

.inner-filter .collapse-filter-product {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.inner-filter .collapse-filter-product a {
  color: var(--color-text);
  font-weight: 500;
  font-size: 1em;
  display: block;
  margin-bottom: 20px;
}

.inner-filter .collapse-filter-product a span {
  margin-left: 7%;
}

.inner-filter .collapse-filter-product #collapseAvailability select {
  display: block;
  width: 100%;
  border: none;
}

#collapsePrice .slider-range {
  margin-bottom: 1.5rem;
}

#collapsePrice .slider-range .noUi-connect {
  background-color: var(--color-text);
}

#collapsePrice .noUi-horizontal {
  height: 1rem !important;
}

#collapsePrice .noUi-horizontal .noUi-handle {
  width: 25px;
  height: 25px;
  top: -9px;
  border-color: var(--color-text);
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#collapsePrice .noUi-horizontal .noUi-handle-lower {
  right: -20px;
}

#collapsePrice .noUi-horizontal .noUi-handle-upper {
  right: -9px;
}

#collapsePrice .noUi-horizontal .noUi-handle::after {
  display: none;
}

#collapsePrice .noUi-horizontal .noUi-handle::before {
  display: none;
}

#collapsePrice .noUi-horizontal .noUi-handle .noUi-touch-area {
  width: 0%;
  height: 0%;
  background-color: black;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#collapsePrice .noUi-horizontal .noUi-handle:hover .noUi-touch-area {
  width: 60%;
  height: 60%;
}

#collapsePrice .input-value {
  display: flex;
  justify-content: space-between;
}

#collapsePrice .input-value input {
  width: 40%;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: 500;
}

#collapsePrice .input-value span {
  font-size: 2rem;
}

/* Filter end */

/* pagination start  */
.pagination-product {
  width: fit-content;
  margin: 0 auto;
}
.pagination-product ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 2px;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.pagination-product ul li {
  color: var(--color-text);
  list-style: none;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.pagination-product ul li.numb {
  list-style: none;
  height: 35px;
  width: 35px;
  margin: 0 3px;
  line-height: 35px;
  border-radius: 50%;
}

.pagination-product ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination-product ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination-product ul li.dots{
  font-size: 17px;
  cursor: default;
}
.pagination-product ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination-product li.active,
.pagination-product ul li.numb:hover,
.pagination-product ul li:first-child:hover,
.pagination-product ul li:last-child:hover{
  color: #fff;
  background: var(--color-text);
}

.limit {
  display: block;
  width: fit-content;
  margin: 10px 0;
  margin-left: auto;
}

.limit select {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
/* pagination end  */