extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug 
include ../../mixins/sort.pug 
include ../../mixins/pagination.pug
include ../../mixins/filter.pug
block main 
    .page-format
        .container.my-3
            //- .row
            //-     .col-6
            //-         +box-head(pageTitle)
            .row
                .col-3
                    +filter()
                .col
                    +sort()
                    .row.box-product
                    //- +product-grid(Products)
                    
                    +pagination()
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js")
    script(src="/js/filter.js")
    script(src="/js/format.js") 
    script(src="/js/product.js") 
