extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/product-layout-slide.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/pagination.pug

block main
  .home 
    <swiper-container class="mySwiper" pagination="true" pagination-dynamic-bullets="true" loop="true">
      <swiper-slide>
        .container
            .inner-content
              .row
                .col-6
                  .inner-box-1
                    .inner-sub-title Uncover the latest trends just for you
                    .inner-title Discover And Find Your new product
                    button.button-slide Shop Now
                .col-6
                  .inner-box-2
                    img(src="/image/slide/img-slide-1.png")
      </swiper-slide>
      <swiper-slide>
        .container
          .inner-content
            .row
              .col-6
                .inner-box-1
                  .inner-sub-title A Modern Touch for Your Desk or Nightstand
                  .inner-title Mainstays Modern table lamp
                  button.button-slide Shop Now
              .col-6
                .inner-box-2
                  img(src="/image/slide/img-slide-2.png")
      </swiper-slide>
      <swiper-slide>
        .container
          .inner-content
            .row
              .col-6
                .inner-box-1
                  .inner-sub-title A Statement Piece for Your Living Space
                  .inner-title Eclipse Modern Coffee Table
                  button.button-slide Shop Now
              .col-6
                .inner-box-2
                  img(src="/image/slide/img-slide-3.png")
      </swiper-slide>
    </swiper-container>

    section.section-policy
      .container
        .inner-section-policy.row
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-1_200x.png?v=1695007028")
              .title Extra Shipping
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-2_200x.png?v=1695007028")
              .title Payment Secured
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum
          .col-4
            .inner-title
              .icon 
                img(src="https://vinova-furstore.myshopify.com/cdn/shop/files/icon-3_200x.png?v=1695007028")
              .title Money Back Guarantee
            .inner-content Lorem Ipsum is simply dummy text of the printing and typeset ting industry lorem Ipsum

    section.featuredCategory-section
      .container
        .inner-title Featured Collection
        .inner-subtitle Top picks just for You
        .inner-content.row
          each item in featuredCategory
            .col-4
              .inner-box.text-center
                .inner-image
                  img(src=item.thumbnail.replace('upload/', 'upload/c_limit,w_350/f_auto/'))
                a.inner-button(href=`/products/${item.slug}`) #{item.title}
    //- .section-products-featured.my-5
    //-   .container
    //-     +box-head("BEST-SELLING")
    //-     .row
    //-       .col-12
    //-         #demo
    //-           #indemo
    //-             #demo1
    //-               +product-grid-slide(topProduct)
    //-             #demo2
    //- .section-products-featured.my-5.wrap-trending
    //-   .container
    //-     +box-head("TRENDING")
    //-   .container.box-trending
    //-     +product-grid(productsFeatured)

    .section-products-featured.my-5
      .container
        h3 Our Products
        .d-flex.justify-content-between.align-items-center.mb-5
          button.prev.pagination-button
            i.fi.fi-rr-arrow-left
          .inner-button
            button.featured.active(value='featured') HOT
            button.saleoff(value='saleoff') SALE OFF
            button.sales(value='sales') ARRIVALS
          button.next.pagination-button
            i.fi.fi-rr-arrow-right
        .row.box-product
          
        //- +product-grid(productsNew)

  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js")
  script(src="/js/rating.js")
  //- script(src="/js/product.js")
  script(src="/js/format.js") 
  //- script(src="/js/productSlide.js")
  script(src="/js/homepage.js")