extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/table-tree.pug

block main 
  .container-custom
    if(role.permissions.includes("products-category_view"))
      .inner-action.my-7
        .flex.justify-between.items-center.gap-18 
          +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
          if(role.permissions.includes("products-category_create"))
            a(
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-black-blur dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              href=`${prefixAdmin}/products-category/create`
            ) Create new category

      div.relative.overflow-x-auto.shadow-md(class="sm:rounded-xl")
        table(class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" check-box-multi)
          thead(class=`text-xs text-gray-700 uppercase bg-gray-100 
                dark:bg-dark-navy-3 dark:text-gray-400`)
            tr
              th(scope="col" class="px-6 py-4") 
                .flex.items-center
                  input#checkbox-all-search(type="checkbox" name="checkall" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-black-blur dark:focus:ring-offset-black-blur focus:ring-2 dark:bg-black-1 dark:border-gray-600")
                  label.sr-only(for="checkbox-all-search") checkbox
              th(scope="col" class="pr-6 py-4 min-w-[220px]") Category
              th(scope="col" class="px-6 py-4") Position
              th(scope="col" class="px-6 py-4") Status
              th(scope="col" class="px-6 py-4") Action

          tbody
            +table-tree(records)


      script(src="/admin/js/product.js")