mixin formatDateTime(time)
  p #{moment(time).format("HH:mm:ss")}
  p #{moment(time).format("DD/MM/YY")}

mixin formatDate(time)
  p #{moment(time).format("DD/MM/YY")}

mixin formatTime(time)
  p #{moment(time).format("HH:mm:ss")}