mixin sortUser()
  div(sort-user class="sort-user")
    select(
      class="form-control"
      name="sort"
      sort-select-user
    )   
      option(value="time-desc" class="option") Time - Desc - Default 
      option(value="time-asc" class="option") Time - Asc 
      option(value="totalValue-desc" class="option") Total Purchase Value - Desc
      option(value="totalValue-asc" class="option") Total Purchase Value- Asc
      option(value="cntSuccess-asc" class="option") Total Orders - Asc
      option(value="cntSuccess-desc" class="option") Total Orders - Desc
      option(value="cntFail-asc" class="option") Unreceived Orders - Asc
      option(value="cntFail-desc" class="option") Unreceived Orders - Desc
