extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/form-change-multi-order.pug
include ../../mixins/pagination.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/sort-order.pug
include ../../mixins/moment.pug


block main 
  if(role.permissions.includes("orders_view"))    
    
    script(src="/admin/js/product.js")   
    script(src="/admin/js/order-user.js")                                       