extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/sort-order.pug

block main
  .page-format
    .container.my-3
      each order of orders
        
    //- script(src="/js/cart.js") 
    //- script(src="/js/order.js")