mixin formatDateTime(time)
  p #{moment(time).format("DD/MM/YY HH:mm:ss")}

mixin formatDate(time)
  p #{moment(time).format("DD/MM/YYYY")}

mixin formatTime(time)
  p #{moment(time).format("HH:mm:ss")}

mixin expires(time)
  span Expires #{moment(time).fromNow()}