mixin sort()
    .dropdown.sort-form
        a(href="#" role="button" data-toggle="dropdown" aria-expanded="false") Sort by 
            span Feature
        .dropdown-menu
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" checked value="-featured" class="css-option")
                    div Feature
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" value="-best_selling" class="css-option")
                    div Best selling
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" value="price-desc" class="css-option")
                    div Price, high to low
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" value="price-asc" class="css-option")
                    div Price, low to high
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" value="title-asc" class="css-option")
                    div Title, A - Z
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" value="title-desc" class="css-option")
                    div Title, Z - A
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" value="sales-asc" class="css-option")
                    div Sales, low to high
            .form-check
                label.d-flex.align-items-center
                    input(type="radio" name="sort-form" value="sales-desc" class="css-option")
                    div Sales, high to low
