footer.footer
  .container
    .main-footer.row
      .col-xl-3.col-md-6.contact
        .logo
          img(src="https://res.cloudinary.com/ddr3axv38/image/upload/v1740645295/apbcdnbiey0h41wh6mxn.png" alt="logo")
        .address
          i.fi.fi-rr-marker
          p Ha Noi, Viet Nam
        .phone
          i.fi.fi-rr-phone-call
          a(href="javascript:void(0)") 012 345 6789
        .email
          i.fi.fi-rr-envelope
          a(href="javascript:void(0)") phantungpt03@gmail.com
      .col-xl-2.col-md-3.info
        .title 
          | Navigation 
          i.fi
        .inner-content.wrapper-flex-column-gap-15
          a(href="/") Home
          a(href="/products") Products
          a(href="javascript:void(0)") Best seller
      .col-xl-2.col-md-3.info
        .title 
          | About us 
          i.fi
        .inner-content.wrapper-flex-column-gap-15
          a(href="javascript:void(0)") Our team
          a(href="javascript:void(0)") Front-end
          a(href="javascript:void(0)") Back-end
      .col-xl-2.col-md-3.info
        .title 
          | Support 
          i.fi
        .inner-content.wrapper-flex-column-gap-15
          a(href="javascript:void(0)") Orders
          a(href="javascript:void(0)") Shipping
          a(href="javascript:void(0)") Promotion
      .col-3.d-block.d-xl-none
      .col-xl-3.col-md-6
        .title 
          | Newsletter 
          i.fi
        .inner-content.wrapper-flex-column-gap-15
          form
            input(type="text" name="email" placeholder="Your email..." style="width: 100px;")
            button(type="submit") Submit
          .social
            a(href="javascript:void(0)")
              i.fi.fi-brands-facebook
            a(href="javascript:void(0)")
              i.fi.fi-brands-github
            a(href="javascript:void(0)")
              i.fi.fi-brands-linkedin
    .end-footer.row
      p.col #{settingsGeneral.copyright}